# Set Up

Notes: What categories do I want to compare?
Title, BOM, opus
Year, BOM, opus
Genres, opus
Studios, BOM
Run Time,
Gross, BOM, opus
Budget, opus
Sequel, opus


'movie_name', 'production_year', 'movie_odid', 'production_budget', 'domestic_box_office', 'international_box_office', 'rating', 'creative_type', 'source', 'production_method', 'genre', 'sequel', 'running_time'

In [1]:
import pandas as pd
import requests
import json
import sqlite3
import numpy as np

In [8]:
# Making the locations of all of the data files
folder = '/Users/ronlodetti/Documents/Flatiron/1_phase/Project_1/Movie_Analysis_Project/data/imported/'
bom_loc = folder + 'bom.movie_gross.csv.gz'
imdb_loc = folder + 'im.db'
rt_movie_loc = folder + 'rt.movie_info.tsv.gz'
rt_rev_loc = folder + 'rt.reviews.tsv.gz'
tmdb_loc = folder + 'tmdb.movies.csv.gz'
thenum_loc = folder + 'tn.movie_budgets.csv.gz'
imdb_2_loc = folder + 'im.title.basics.tsv.gz'
opus_loc = folder + 'MovieData.csv'

# Box Office Mojo

Why do i care? studio and financials?
Columns = 'title', 'studio', 'domestic_gross', 'foreign_gross', 'year'

Number = 3,387

Years = 2010 - 2018

Title = 'Harry Potter and the Deathly Hallows Part 1'

Columns = 'title', 'studio', 'domestic_gross', 'foreign_gross', 'year'

In [9]:
#Box Office Mojo
# bom = pd.read_csv('/Users/ronlodetti/Documents/Flatiron/1_phase/Project_1/dsc-phase-1-project-v2-4/zippedData/bom.movie_gross.csv.gz')
# for i in bom.columns:
#     print(bom[i].value_counts())
#     print('\n')
# bom[bom['studio'] == 'IFC'].sort_values('domestic_gross',ascending=False)
# test = pd.DataFrame(bom['studio'].value_counts())
# list(test[test > 10].dropna().index)
bom[bom['title']=='Get Out']

NameError: name 'bom' is not defined

In [18]:
the_num = pd.read_csv(thenum_loc)
tmbd = pd.read_csv(tmdb_loc)

In [19]:
tmbd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26517 entries, 0 to 26516
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         26517 non-null  int64
 1   genre_ids          26517 non-null  object
 2   id                 26517 non-null  int64
 3   original_language  26517 non-null  object
 4   original_title     26517 non-null  object
 5   popularity         26517 non-null  float64
 6   release_date       26517 non-null  object
 7   title              26517 non-null  object
 8   vote_average       26517 non-null  float64
 9   vote_count         26517 non-null  int64
dtypes: float64(2), int64(3), object(5)
memory usage: 2.0+ MB

# IMDB

### SQL Database
Number = 146,144

Years = 2010 - 2021

Title = Harry Potter and the Deathly Hallows: Part 1

movie_basics columns = 'movie_id', 'primary_title', 'original_title', 'start_year', 'runtime_minutes', 'genres'

In [17]:
conn = sqlite3.connect(imdb_loc)

In [410]:
conn = sqlite3.connect(imdb_loc)
q = """
SELECT *
FROM movie_basics;

"""
pd.read_sql(q, conn).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   movie_id         146144 non-null  object
 1   primary_title    146144 non-null  object
 2   original_title   146123 non-null  object
 3   start_year       146144 non-null  int64
 4   runtime_minutes  114405 non-null  float64
 5   genres           140736 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 6.7+ MB

### OpusData

Why do I care? Many columns

size = 1936

years = 2006 - 2017

columns = 'movie_name', 'production_year', 'movie_odid', 'production_budget', 'domestic_box_office', 'international_box_office', 'rating', 'creative_type', 'source', 'production_method', 'genre', 'sequel', 'running_time'

In [404]:
opus_df = pd.read_csv(opus_loc)
# for i in opus_df.columns:
#     print(opus_df[i].value_counts())
#     print('\n')
# opus_df['production_year'].value_counts()
opus_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1936 entries, 0 to 1935
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   movie_name                1936 non-null   object
 1   production_year           1936 non-null   int64
 2   movie_odid                1936 non-null   int64
 3   production_budget         1936 non-null   int64
 4   domestic_box_office       1936 non-null   int64
 5   international_box_office  1936 non-null   int64
 6   rating                    1913 non-null   object
 7   creative_type             1923 non-null   object
 8   source                    1915 non-null   object
 9   production_method         1925 non-null   object
 10  genre                     1926 non-null   object
 11  sequel                    1934 non-null   float64
 12  running_time              1822 non-null   float64
dtypes: float64(2), int64(5), object(6)
memory usage: 196.8+ KB

# Discarded

In [406]:
# Downloaded set from IMBD, Dont want to use
# imdb = pd.read_csv(imdb_2_loc,sep="\t",low_memory=False)
# imdb = imdb[imdb['titleType']=='movie']
# imdb = imdb[['tconst', 'primaryTitle','startYear','runtimeMinutes', 'genres']]
# imdb = imdb[imdb['startYear']!='\\N']
# imdb = imdb.astype({'startYear':int})
# imdb = imdb[imdb['startYear'] >= 2010]
# imdb['runtimeMinutes'].loc[imdb['runtimeMinutes']=='\\N'] = np.nan
# imdb['genres'].loc[imdb['genres']=='\\N'] = np.nan

In [409]:
# The Movie Database
# tmdb_df = pd.read_csv(tmdb_loc)
# tmdb_df['release_date']
# pd.to_datetime(tmdb_df['release_date']).dt.year[pd.to_datetime(tmdb_df['release_date']).dt.year>2010].value_counts()